
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Hello!">
  <link rel="icon" type="image/png" href="../img/sample.png">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/about.css">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <title>MySite-1</title>
</head>

<body>
  <!-- ヘッダー -->
  <header id="header">
    <div class="container">
      <h1 class="logo"><a href="../index.html">LOGO</a></h1>
      <nav>
        <ul>
          <li class="item"><a href="../index.html">Home</a></li>
          <li class="item"><a href="../layout/about.html">Company</a></li>
          <li class="item"><a href="../layout/service.html">Service</a></li>
          <li class="acMenu-wrapper">
            <i id="acMenuBtn" class="fas fa-bars"></i>
            <ul id="acMenu">
              <li><a href="../index.html">Home</a></li>
              <li><a href="../layout/about.html">Company</a></li>
              <li><a href="../layout/service.html">Service</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main id="main">
    <!-- トップビュー -->
    <div class="top-view">
      <div class="container">
        <div class="ttl-wrapper">
          <h2>About</h2>
          <p>企業情報</p>
        </div>
        <img src="../img/sample_bg.jpg" alt="">
      </div>
    </div>

    <!-- ミッション -->
    <div class="mission">
      <div class="container">
        <h3>Mission</h3>
        <h4>It’s Greek to me.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum.
        </p>
      </div>
    </div>

    <!-- 会社概要 -->
    <div class="info">
      <div class="container">
        <h3>Company Infomation</h3>
        <div class="item">
          <dt>会社名</dt>
          <dd>Company.ink</dd>
        </div>
        <div class="item">
          <dt>代表者名</dt>
          <dd>Minami Sakakibara</dd>
        </div>
        <div class="item">
          <dt>設立</dt>
          <dd>2020.1.1</dd>
        </div>
        <div class="item">
          <dt>事業内容</dt>
          <dd>One, Two, Three</dd>
        </div>
        <div class="item">
          <dt>連絡先</dt>
          <dd>sample@gmail.com</dd>
        </div>
      </div>
    </div>
  </main>

  <!-- フッター -->
  <footer id="footer">
    <div class="container">
      <h2>LOGO</h2>
      <p>© 2021 LOGO All rights reserved.</p>
    </div>
  </footer>

  <!-- スクリプト -->
  <script src="../js/main.js"></script>
  <script src="../js/header.js"></script>
</body>

</html>